.title {
	@media (max-width: 800px) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.wrap {
	display: flex;
	align-items: center;
	gap: 40px;

	@media (max-width: 1100px) {
		flex-direction: column;
	}
}
