:root {
	--main-font: 'Raleway';

	--main-color: #525d4a;
	--text-color: #4b4747;
	--white-grey: #959595;
	--yellow: #f9ee89;
	--secondary-color: #fff;
	--main-hover: #809670;
	--secondary-hover: #caebb3;

	//calendar

	--rmdp-primary-teal: #525d4a;
	--rmdp-secondary-teal: #525d4a;
	--rmdp-shadow-teal: #809670;
	--rmdp-today-teal: #9ac779;
	--rmdp-hover-teal: #809670;
	--rmdp-deselect-teal: #00695c;
}
