.playerWrapper {
	background: var(--main-color);
	padding: 20px;
	width: fit-content;
	height: fit-content;
	border-radius: 20px;
	max-width: 660px;

	@media (max-width: 1100px) {
		max-width: 560px;
	}

	@media (max-width: 1000px) {
		max-width: 853px;
	}

	@media (max-width: 900px) {
		max-width: 100vw;
	}
}

.player {
	border-radius: 20px;
	border: none;
	max-width: 620px;

	@media (max-width: 1100px) {
		max-width: 520px;
	}

	@media (max-width: 1000px) {
		max-width: 813px;
	}

	@media (max-width: 900px) {
		max-width: calc(100vw - 40px);
	}

	@media (max-width: 560px) {
		height: 360px;
	}
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.rightIcons {
	display: flex;
	gap: 10px;
}

.likeBtn {
	background: transparent !important;
	padding: 0 !important;

	.like {
		path {
			fill: transparent;
			stroke: var(--yellow);
			stroke-width: 2px;
			transition: fill 0.3s ease;
		}

		&.activeLike {
			path {
				fill: var(--yellow);
				transition: fill 0.3s ease;
			}
		}
	}

	&:hover {
		background: transparent !important;
	}
}

.tgBtn {
	background: transparent !important;
	padding: 0 !important;

	&:hover {
		background: transparent !important;
	}

	.tgIcon {
		&:hover {
			path {
				fill: #7c9ae5;
				transition: fill 0.3s ease;
			}
		}
	}
}

.commentBtn {
	background: transparent !important;
	padding: 0 !important;

	&:hover {
		background: transparent !important;
	}

	.comment {
		path {
			transition: stroke 0.3s ease;
		}
		&.activeComment {
			path {
				stroke: #64d8a6;
				transition: stroke 0.3s ease;
			}
		}
	}
}

.saveBtn {
	background: transparent !important;
	padding: 0 !important;
	border-radius: 0 !important;

	&:hover {
		background: transparent !important;
	}

	.saveIcon {
		path {
			transition: fill 0.3s ease;
		}
		&.activeSave {
			path {
				fill: var(--main-hover);
				transition: fill 0.3s ease;
			}
		}
	}
}
